@import url("alabaster.css");

.highlight-default,
.highlight-default .mi,
.highlight-default .nb,
.highlight-default .ow,
.highlight-default .s1,
.highlight-default .o,
.highlight-default .n,
.highlight-default .p,
.highlight-default .k {
    color: black !important;
    font-weight: normal !important;
}

.update {
    padding: 20px 30px;
    background-color: #e7f0da;
    border: 1px solid #ccd6c1;
}

.update-title {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: normal;
    font-size: 24px;
}

.update-large {
    padding: 10px 10px;
    background-color: #e7f0da;
    border-top: 3px solid #ccd6c1;
    border-bottom: 3px solid #ccd6c1;
    text-align: justify !important;
}

.update-title-large {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 10px;
}

.code-with-numbers {
    margin-left: -15px;
}

.code-with-numbers pre {
    max-width: 530px;
}
